.custom-navbar-class {
    border-bottom: solid black;
    border-width: 1px;
    background-color: white;
}

.custom-image-class {
    width:80px;
    height:80px;
}

.custom-navbar-brand-class {
    padding-left: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2em;
    font-weight: bold;
}

.custom-navitem-class {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    color: black;
    padding-right: 20px;
    text-align: center;
}

.custom-navlink-class {
    color: black;
}

#dropdown-basic-button {
    padding-right: 40px;
}

@media only screen and (max-width: 600px) {
    .custom-navitem-class {
        font-size: 1em;
        padding-right: 0px;
    }

    .custom-navbar-brand-class {
        font-size: 1em;
    }

    .custom-image-class {
        width:50px;
        height:50px;
    }

    #dropdown-basic-button {
        padding-right: 0px;
    }
  }

  @media only screen and (max-width: 992px) {
    .custom-navitem-class {
        padding-right: 0px;
    }

    #dropdown-basic-button {
        padding-right: 0px;
    }
  }